/* src/AuthPage.css */

.auth-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
    background-image: url('../assets/login.png'); /* Add this line */
    background-size: cover; /* Ensure the background image covers the entire page */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
}

.auth-container {
    background-color: #fff;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.auth-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
}

label {
    margin-bottom: 8px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: fixed;
    top: 0;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
}

.navbar-links a {
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
}

.navbar-links a:hover {
    text-decoration: underline;
}